@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
}

.animate-in {
    animation-name: animate-in;
    animation-duration: 600ms;
    animation-timing-function: ease-in;
}

.animate-out {
    transform: translateX(-100%);
    opacity: 0;
}

@keyframes animate-in {
    0% {
        transform: translateX(-100%);
    }
    
    100% {
        transform: translateX(0);
    }
}

.content-animate-in {
    animation-name: content-animate-in;
    animation-duration: 600ms;
    animation-timing-function: ease-in;
}

@keyframes content-animate-in {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);
    }
}

.content-animate-out {
    transform: translateX(100%);
    opacity: 0;
}